/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'League-Spartan-Regular', sans-serif;*/




.social {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 1254px){
 .social--header {
        flex-direction: column;
    }
}

.social__item {
    margin-left: 15px;
    margin-right: 15px;
}

.social--header .social__item {
    margin-left: 15px;
    margin-right: 15px;
}


@media (min-width: 1254px) {

  .social--header .social__item {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 35px;
    }

   .social--header .social__item:last-child {
        margin-bottom: 0px;
    }
}


